.game-window {
    left:10px;
    right:10px;
    top:10px;
    bottom:10px;
    width:auto;
    height:auto;
    position:absolute;
    border: solid 2px black;
    overflow:hidden;
    background-color:#C0C0C0;
}

.map-square {
    position:absolute;
    height:40px;
    width:40px;
}

.text-font {
    font-size: 26px;
    font-family: 'Chau Philomene One', sans-serif;
}

.dialog-container {
    position:absolute;
    right: 20px;
    left: 20px;
    top: 65%;
    bottom:10%;
    background-color:#FFFFFF;
    border: solid 2px black;
    padding: 5px;
    overflow:hidden;
}

.menu-container {
    position:absolute;
    right: 3%;
    left: 75%;
    top:20px;
    bottom:20px;
    background-color:#FFFFFF;
    border: solid 2px black;
    padding: 15px;
    overflow: hidden;
}

.menu-item {
    width:100%;
    text-overflow:ellipsis;
    padding-top:15px;
    padding-left:5px;
    height:45px;
    cursor: pointer;
}

    .menu-item:hover {
        background-color:#C0C0C0;
    }

.menu-title {
    cursor: auto;
}

    .menu-title:hover {
        background-color:inherit;
    }

@media (max-width: 500px) {
    .text-font {
        font-size: 20px;
    }

    .menu-container {
        left: 70%;
        padding: 10px;
    }

    .menu-item {
        padding-top: 10px;
        padding-left: 3px;
        height: 35px;
    }
}

@media (max-width: 400px) {
    .text-font {
        font-size: 16px;
    }
    
    .menu-container {
        left: 60%;
        padding: 5px;
    }

    .menu-item {
        padding-top: 5px;
        padding-left: 1px;
        height: 25px;
    }
}