@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Game.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/Game/FuzzyOctoTribble.js"></script>
    <script src="~/Scripts/Game/Camera.js"></script>
    <script src="~/Scripts/Game/KeyControl.js"></script>
    <script src="~/Scripts/Game/FuzzyOctoTribbleInit.js"></script>
</head>
<body>
    <div>
        <div class="game-window">

        </div>
    </div>
</body>
</html>
